# Server Port
PORT=3001

# Frontend URL untuk CORS (ganti setelah deploy)
FRONTEND_URL=http://localhost:5173

# Node Environment
NODE_ENV=development

# Log Level (info, debug, warn, error)
LOG_LEVEL=info
